// =======================================
//   List of variables for Preset color
// =======================================

$preset-colors: (
  preset-1: (
    body: #e3f2fd,
    primary: #5a617d,
    primary-dark:#424a6a,
    secondary: #c92830,
    secondary-dark: #a02026
  )
);
$dark-preset-colors: (
  preset-1: (
    body: #111
  )
);
