<div class="addContainer">
  <div class="modalHeader  d-flex justify-content-between align-items-center">
        <div class="title-head">Update Claim </div>
   <div>
    <button (click)="dialogRef.close()" aria-label="Close dialog" class="modal-close-button" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  </div>

  <mat-dialog-content>
    <form [formGroup]="subjectForm" class="register-form m-4">
    
      
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="form-floating mb-3">
            <textarea type="text" class="form-control" id="floatingInput" formControlName="description"></textarea>
            <label for="floatingInput">Description </label>
            
          </div>
        </div>
       
      </div>
    </form>
    </mat-dialog-content>
  </div>
    <mat-dialog-actions class=" justify-content-end" ><!--  -->
     
          <div class="example-button-row">
            <button
              [mat-dialog-close]="1"
              color="primary"
              mat-raised-button
              (click)="submit()"
            >
              Save
            </button>
            <button (click)="fermer()" color="warn" mat-raised-button tabindex="-1">Cancel</button>
          </div>
       
    </mat-dialog-actions>

      
    
