<div class="addContainer">
  <div class="modalHeader  d-flex justify-content-between align-items-center">
        <div class="title-head">Presentation Result</div>
   <div>
    <button (click)="dialogRef.close()" aria-label="Close dialog" class="modal-close-button" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
  </div>

  <mat-dialog-content>
    <div class="mb-6">
      <label class="block text-sm font-medium text-muted-foreground">Student Name</label>
      <p class="text-lg font-semibold text-secondary">{{presentation.studentName}}</p>
    </div>
    <div class="mb-6">
      <label class="block text-sm font-medium text-muted-foreground">Result</label>
      <p class="text-lg font-semibold text-accent">
        <span class="badge bg-success" *ngIf="presentation.result=='Done'">{{presentation.result}}</span>
              <span class="badge bg-danger" *ngIf="presentation.result=='Failed'">{{presentation.result}}</span>
              <span class="badge bg-warning text-dark"  *ngIf="presentation.result=='In progress'">{{presentation.result}}</span>
      </p>
    </div>
    <div class="mb-6" *ngIf="presentation.mention" >
      <label class="block text-sm font-medium text-muted-foreground">Mention</label>
      <p class="text-lg font-semibold text-accent">{{presentation.mention}}</p>
    </div>
    <div class="mb-6" *ngIf="presentation.moyenne">
      <label class="block text-sm font-medium text-muted-foreground">Note</label>
      <p class="text-lg font-semibold text-accent">{{presentation.moyenne}}</p>
    </div>
    <div class="mb-6" *ngIf="presentation.juryDescription">
      <label class="block text-sm font-medium text-muted-foreground">Jury Description</label>
      <p class="text-lg font-semibold text-secondary-foreground">{{presentation.juryDescription}}</p>
    </div>
    </mat-dialog-content>
  </div>
    <mat-dialog-actions class=" justify-content-end" ><!--  -->
     
       
    </mat-dialog-actions>

      
    
