<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card mt-5">
        <form class="card-body" [formGroup]="formGroup" (ngSubmit)="submit()">
          <a href="javascript:" class="d-flex justify-content-center mt-3">
            <img src="assets/images/pl.png" style="height: 100px;" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Sign up</b></h2>
                <p class="fs-4 mt-2">Enter your credentials to continue</p>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder="name@example.com"
                  formControlName="firstname" required />
                <label >First Name</label>
                <mat-error *ngIf="formGroup.get('firstname').touched && formGroup.get('firstname').hasError('required')"
                  class="text-red">
                  Required
                </mat-error>
                <mat-error
                  *ngIf="formGroup.get('firstname').touched && formGroup.get('firstname').hasError('minlength')"
                  class="text-red">
                  At least 3 characters
                </mat-error>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder="name@example.com"
                  formControlName="lastname" />
                <label >Last Name</label>
                <mat-error *ngIf="formGroup.get('lastname').touched && formGroup.get('lastname').hasError('required')"
                  class="text-red">
                  Required
                </mat-error>
                <mat-error *ngIf="formGroup.get('lastname').touched && formGroup.get('lastname').hasError('minlength')"
                  class="text-red">
                  At least 3 characters
                </mat-error>
              </div>
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control"  placeholder="name@example.com"
              formControlName="email" />
            <label >Email Address</label>
            <mat-error *ngIf="formGroup.get('email').touched && formGroup.get('email').hasError('required')"
              class="text-red">
              Required
            </mat-error>
            <mat-error *ngIf="formGroup.get('email').touched && formGroup.get('email').hasError('email')"
              class="text-red">
              Not valid
            </mat-error>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="password" class="form-control"  placeholder="name@example.com"
                  formControlName="password" />
                <label >Password</label>
                <mat-error *ngIf="formGroup.get('password').touched && formGroup.get('password').hasError('required')"
                  class="text-red">
                  Required
                </mat-error>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="password" class="form-control"  placeholder="name@example.com"
                  formControlName="confirmPassword" />
                <label >Confirm Password</label>
                <mat-error
                  *ngIf="formGroup.get('confirmPassword').touched && formGroup.get('confirmPassword').hasError('required')"
                  class="text-red">
                  Required
                </mat-error>
                <mat-error
                  *ngIf="formGroup.get('confirmPassword').touched && formGroup.get('confirmPassword').hasError('passwordMismatch')"
                  class="text-red">
                  Passwords do not match
                </mat-error>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <select class="form-select form-control"  formControlName="gender" placeholder="">
                  <option selected value="">Select Gender</option>
                  <option value="0">Men</option>
                  <option value="1">Women</option>
                </select>
                <label >Gender</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="date" class="form-control"  placeholder="name@example.com"
                  formControlName="lastname" />
                <label >Date Of Birth</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="nationality" />
                <label >Nationality</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="tel" class="form-control"  placeholder="xx xxx xxx"
                  formControlName="phonenumber" [maxLength]="8" />
                <label >Phone Number</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder="" formControlName="city" />
                <label >City</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder="" formControlName="country" />
                <label >Country</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="postaladdress" />
                <label >Postal Address</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder="" formControlName="postalcode"
                  [maxLength]="4" />
                <label >Postal Code</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-floating mb-3">
                <select class="form-select form-control"  formControlName="role" placeholder="">
                  <option value="STUDENT">Student</option>
                  <option value="TEACHER">Teacher</option>
                </select>
                <label >Role</label>
              </div>
            </div>
            
          </div>
          <div class="row" *ngIf="formGroup.get('role').value == 'STUDENT'">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="currentInstitution" />
                <label >Current Institution</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="currentStudyLevel" />
                <label >Study level</label>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="formGroup.get('role').value == 'STUDENT'">
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="studyField" />
                <label >Study field</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating mb-3">
                <input type="text" class="form-control"  placeholder=""
                  formControlName="enrollmentYear" />
                <label >Enrollment Year</label>
              </div>
            </div>
          </div>
          <div class="form-check mt-3s">
            <input class="form-check-input input-primary" type="checkbox" id="customCheckc1" checked="" />
            <label class="form-check-label" for="customCheckc1">
              <h5>Agree with <span>Terms & Condition.</span></h5>
            </label>
          </div>
          <div class="d-grid mt-4">
            <button type="submit" class="btn btn-secondary p-2" [disabled]="formGroup.invalid">Sign Up</button>
          </div>
          <hr />
          <h5 class="d-flex justify-content-center">
            <a [routerLink]="['/guest/login']"> Already have an account? </a>
          </h5>
        </form>
      </div>
    </div>
  </div>
</div>