<div class="row justify-content-center">
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{students.total}}</span>
        <p class="mb-0 opacity-50">Total Students</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{teachers.total}}</span>
        <p class="mb-0 opacity-50">Total Teachers</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{subjects.total}}</span>
        <p class="mb-0 opacity-50">Total Subjects</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{demands.total}}</span>
        <p class="mb-0 opacity-50">Total Demands</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{internships.total}}</span>
        <p class="mb-0 opacity-50">Total Internships</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{presentations.total}}</span>
        <p class="mb-0 opacity-50">Total Presentations</p>
      </div>
    </div>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <div class="card bg-secondary-dark dashnum-card text-white overflow-hidden">
      <div class="card-body">
        <span class="text-white d-block fs-1 fw-bold my-2">{{claims.total}}</span>
        <p class="mb-0 opacity-50">Total Claims</p>
      </div>
    </div>
  </div>

</div>
<div class="row d-flex justify-content-between p-5"  style="text-align: center;">  
  <h1 class="p-5">Students</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Students Based on Nationality</h2>
    <canvas #studentsBasedOnNationality id="studentsBasedOnNationality" width="auto" height="auto"></canvas>
  </div>
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Students Based on Study Field</h2>
    <canvas #studentsBasedOnStudyField id="studentsBasedOnStudyField" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>

<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">Teachers</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Teachers Based on Nationality</h2>
    <canvas #teachersBasedOnNationality id="teachersBasedOnNationality" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>

<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">Subjects</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Subjects Based on Internship Type</h2>
    <canvas #subjectBasedOnInternshipType id="subjectBasedOnInternshipType" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>

<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">Demands</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Demands Based on Status</h2>
    <canvas #demandsBasedOnStatus  id="demandsBasedOnStatus" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>

<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">InternShips</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>InternShips Based on Status</h2>
    <canvas #internShipsBasedOnStatus  id="internShipsBasedOnStatus" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>
<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">Presentations</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>Presentations Based on Date</h2>
    <canvas #presentationsBasedOnDate  id="PresentationsBasedOnDate" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>

<div class="row d-flex justify-content-center p-5"  style="text-align: center;">  
  <h1 class="p-5">Claims</h1>
  <!-- [ sample-page ] start -->
  <div class="col-4 col-xs-12" style="text-align: center;">
    <h2>claims Based on status</h2>
    <canvas #claimsBasedOnStatus  id="claimsBasedOnStatus" width="auto" height="auto"></canvas>
  </div>
  <!-- [ sample-page ] end -->
</div>



