<div class="row">
  <div class="col-sm-12">
    <app-card cardTitle="Subject List">
      <button mat-raised-button aria-label="Example icon-button with a menu"  color="primary" class="mb-3" (click)="getAllSubjects()">
        <span>Refresh</span>   <mat-icon>refresh</mat-icon>
      </button>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

          <!-- title Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title </th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.title"> {{element.title  | truncate : 20}} </td>
          </ng-container>

          <!-- description Column -->
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element" [matTooltip]="element.description"> {{element.description | truncate : 20}} </td>
          </ng-container>

          <!-- internshipType Column -->
          <ng-container matColumnDef="internshipType">
            <th mat-header-cell *matHeaderCellDef> Type </th>
            <td mat-cell *matCellDef="let element" > {{element.internshipType}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div *ngIf=" !dataSource || dataSource?.data.length == 0" class="text-center py-5">
          No data
        </div>
        <div [hidden]="!dataSource || dataSource?.data.length == 0">
          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons
          aria-label="Select page of periodic elements"  >
        </mat-paginator>
        </div >
        
      </div>

    </app-card>
  </div>
</div>